* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Roboto, Verdana, sans-serif;
  scroll-behavior: smooth;
}

:root {
  --h1-padding-top: 32px;
  --h1-padding-bottom: 16px;
  --h2-padding-top: 16px;
  --h2-padding-bottom: 16px;
  --p-padding-top: 8px;
  --p-padding-bottom: 16px;
}

.pOrange {
  color: #fd7d1b;
  padding-top: 64px !important;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
}
nav {
  background: black;
  position: sticky;
  top: 0;
  z-index: 10;
}
.navContainer {
  width: 90%;
  display: flex;
  justify-content: space-between;
  justify-self: center;
  align-items: center;
  height: 100px;
  color: #eeeeee;
}
.navContainer p {
  font-size: 1.5rem;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

nav ul li {
  padding: 0 20px;
}
nav ul li a {
  color: #eeeeee;
}
nav ul li a:hover {
  color: #fd7d1b;
}

#sidebar {
  display: none;
}

.openSidebar,
.closeSidebar {
  padding: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
  color: #eeeeee;
  border: none;
  display: none;
}

.główna {
  background: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)),
    url("https://images.unsplash.com/photo-1667539916609-c706d5b7ed65?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3Nzg4Nzd8MHwxfHNlYXJjaHwxfHxiYXJiZXIlMjBzaG9wJTIwaW50ZXJpb3J8ZW58MXx8fHwxNzYwOTc2MTg4fDA&ixlib=rb-4.1.0&q=80&w=1080");
  background-size: cover;
  background-position: center;
  color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
}

.głównaContainer {
  width: 50%;
  margin-left: 40px;
  padding-bottom: 64px;
}

.główna .głównaContainer #tytuł {
  color: #ffc71d !important;
}

.głównaContainer h1 {
  font-size: 4rem;
  font-weight: 500;
  padding-top: var(--h1-padding-top);
  padding-bottom: var(--h1-padding-bottom);
  text-align: start;
}

.usługi {
  background-color: #050c2b;
  color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.usługi .pOrange {
  padding-top: var(--h1-padding-top);
}
.usługi p {
  padding-top: var(--p-padding-top);
  padding-bottom: var(--p-padding-bottom);
  text-align: center;
}

.usługi h2 {
  padding-top: var(--h2-padding-top);
  padding-bottom: var(--h2-padding-bottom);
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
}

.usługi-p {
  width: 50%;
}

.usługiCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 40px;
  margin-bottom: 128px;
  gap: 1em;
}

.usługiCards .card {
  border: 1px solid #dddddd;
  background-color: transparent;
  border-radius: 15px;
  padding: 40px 20px;
  font-weight: 200;
  align-items: center;
  width: 20%;
  justify-content: center;
  height: auto;
}

.card i {
  background-color: rgba(156, 110, 24, 0.329);
  padding: 16px;
  border-radius: 5px;
  color: #fd7d1b;
  font-size: 1.5rem;
}

.card h3 {
  margin: 16px 0;
  font-weight: 400;
}

.card p {
  color: #dddddd;
  text-align: start;
}

.card ul {
  list-style-position: inside;
  margin: 0;
}
.card ul li {
  color: #dddddd;
  text-align: start;
}

.card ul li::marker {
  color: #fd7d1b;
  font-size: 1.2rem;
}

/* GALERIA */

.galeria {
  background-color: #050c2b;
  color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.galeria p {
  padding-top: var(--p-padding-top);
  padding-bottom: var(--p-padding-bottom);
  text-align: center;
}

.galeria h2 {
  padding-top: var(--h2-padding-top);
  padding-bottom: var(--h2-padding-bottom);
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
}

.galeria-p {
  width: 50%;
}

.galeriaBtn {
  padding: 25px 60px;
  background: #f7a219;
  background: linear-gradient(
    145deg,
    rgba(247, 162, 25, 1) 0%,
    rgba(247, 187, 22, 1) 36%,
    rgba(255, 72, 31, 1) 100%
  );
  border-radius: 10px;
  color: #050c2b;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  transition: transform 1s, filter 1s ease-in-out;
  filter: brightness(100%);
  margin: 32px 40px;
}

.galeriaBtn:hover {
  filter: brightness(120%);
}

.galeriaContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 40px;
  margin-bottom: 64px;
  gap: 1em;
  overflow: hidden;
}

.galeriaContainer img {
  flex: 1 1 calc(25% - 1em); /* two per row accounting for gap */
  max-width: calc(25% - 1em);
  height: auto;
  object-fit: cover;
  border-radius: 15px;
  aspect-ratio: 1 / 1;
  transition: transform 1s, filter 1s ease-in-out;
  filter: brightness(80%);
  justify-self: start;
  align-self: flex-start;
}

.galeriaContainer img:hover {
  filter: brightness(100%);
}

/* CENNIK */

.cennik {
  background-color: #050c2b;
  color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cennik h2 {
  padding-top: var(--h2-padding-top);
  padding-bottom: var(--h2-padding-bottom);
  text-align: center;
}
.cennik p {
  padding-bottom: var(--p-padding-bottom);
  padding-top: var(--p-padding-top);
  text-align: center;
}

.cennik .cennikContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 40px;

  gap: 3em;
  width: 90%;
}

.cennikContainer .card {
  flex: 1 1 calc(33% - 3em); /* 4 per row that shrink/grow */
  max-width: calc(30% - 3em);
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 20px;
  border: 4px solid #fd7d1b;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.cennikContainer .card h3 {
  font-size: 1.7rem;
  font-weight: 400;
}

.cennikContainer .card p {
  color: #dddddd;
  text-align: start;
}

.cennikContainer .card h2 {
  font-size: 3rem;
  text-align: start;
}

.cennikContainer .card li {
  padding: 2px 0;
  color: #eeeeee;
  font-weight: 200;
}

/* KONTAKT */

.kontakt {
  background-color: #050c2b;
  color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kontakt .kontaktH2 {
  text-align: center;
}

.kontakt .kontaktP {
  text-align: center;
  padding-top: var(--p-padding-top);
  padding-bottom: var(--p-padding-bottom);
}

.kontaktContainer {
  display: flex;
  justify-content: start;
  margin: 0 40px;
  margin-bottom: 128px;
  gap: 3em;
  width: 90%;
}

.kontaktContainerDodatkowe {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex: 1 1 calc(50% - 1em);
  max-width: calc(50% - 1em);
}

.kontaktContainerMapy {
  flex: 1 1 calc(50% - 1em);
  max-width: calc(50% - 1em);
  min-width: auto;
}

.kontaktContainerMapy iframe {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.kontaktContainerDodatkowe .card {
  border: 2px solid #dddddd;
  border-radius: 15px;
  padding: 20px 20px;
  display: flex;
}

.kontaktContainerDodatkowe .card i {
  height: 20px;
  padding: 0;
  background: transparent;
  color: #fd7d1b;
}
.kontaktContainerDodatkowe .card .cardInfo {
  padding-left: 20px;
  height: 100%;
  justify-content: space-between;
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  background-color: #050c2b;
  color: #eeeeee;
  border-top: 2px solid #dddddd;
}

.footerInfo {
  margin: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.footerInfo ul {
  list-style-type: none;
}

.footerInfo ul li {
  padding: 4px 0;
}
.footerInfo a {
  text-decoration: none;
  color: #eeeeee;
}
.footerInfo ul li a:hover {
  color: #fd7d1b;
}

.footerInfoCard {
  width: 20%;
}

.footerInfoCard .ulY {
  display: flex;
  justify-content: start;
  gap: 1em;
  width: 40%;
  margin-top: 16px;
}
.footerInfoCard .ulY i {
  font-size: 1.5rem;
  background-color: rgb(69, 69, 69);
  padding: 8px;
  border-radius: 50%;
}

.footerInfoCard .ulY i:hover {
  color: #fd7d1b !important;
}
.footerInfoCard h2 {
  padding-bottom: 16px;
}

.footerPrawa {
  text-align: center;
  padding-top: 64px;
  padding-bottom: 32px;
  font-size: 1.5rem;
}

.sectionp {
  padding-bottom: 64px !important;
  padding-top: 16px !important;
  font-size: 1.2rem !important;
  width: 80%;
  text-align: center;
}

.sectionH2 {
  padding-bottom: 32px !important;
  padding-top: 32px !important;
  font-size: 2.5rem !important;
}

@media only screen and (width <= 1200px) {
  .usługiCards .card {
    flex-basis: 42%;
    height: auto;
  }
  .galeriaContainer img {
    flex: 1 1 calc(50% - 1em); /* two per row accounting for gap */
    max-width: calc(50% - 1em);
  }
  .cennikContainer {
    gap: 1em !important;
  }
  .cennikContainer .card {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

@media only screen and (width <= 800px) {
  .głównaContainer h1 {
    font-size: 3rem;
  }
  .głównaContainer .pOrange {
    font-size: 1rem;
  }
  .głównaContainer p {
    font-size: 1.1rem;
  }

  .openSidebar {
    display: block;
  }
  nav ul {
    display: none;
  }

  nav #sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 40%;
    background-color: black;
    text-align: center;
    transition: right 0.3s ease;
    z-index: 100;
    display: block;
  }

  #sidebar.active {
    right: 0;
  }
  nav ul li {
    padding: 10px 0;
    font-size: 1.5rem;
  }
  .closeSidebar {
    display: block;
    padding: 10px;
    margin: 15px 0;
    margin-left: auto;
    margin-right: 25px;
  }

  .usługiCards .card {
    flex-basis: 100%;
    height: auto;
  }
  .kontaktContainer {
    flex-wrap: wrap;
  }
  .kontaktContainerDodatkowe {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .kontaktContainerMapy {
    flex: 1 1 100%;
    max-width: 100%;
    height: 300px;
    min-width: none;
  }
  .footerInfo {
    flex-direction: column;
    gap: 3em;
  }
  .footerInfoCard {
    width: 100%;
  }
}

@media only screen and (width <= 500px) {
  .usługiCards {
    margin: 0 20px;
  }
  .sectionH2 {
    font-size: 1.5rem !important;
  }
  .pOrange {
    font-size: 1rem !important;
  }
  .sectionp {
    font-size: 1rem !important;
    text-align: center;
  }
  .cennikContainer .card h2 {
    font-size: 2rem;
  }
  .głównaContainer {
    width: 80%;
    margin: 20px;
  }
  .głównaContainer h1 {
    font-size: 2rem;
  }
  .głównaContainer .pOrange {
    font-size: 1rem;
  }
  .głównaContainer .głównaAddText {
    font-size: 1rem;
  }
  .galeriaContainer {
    margin: 0 20px;
  }
  .galeriaContainer img {
    flex: 1 1 100%; /* two per row accounting for gap */
    max-width: calc(100%);
  }
  .galeriaBtn {
    padding: 15px 25px;
    margin: 64 20px;
  }
  #sidebar.active {
    width: 100%;
  }
}
